.gradient-blue {
  @apply bg-gradient-to-b from-[#00D5FF] to-[#2E5EA0];
}

.gradient-green {
  @apply bg-gradient-to-bl from-[rgb(94,220,143)] to-[#289BAC];
}

.gradient-green-rev {
  @apply bg-gradient-to-bl from-[#289BAC] to-[rgb(94,220,143)];
}

#table-team-members {
  border-radius: 0.5rem;
  border: 1px solid var(--gray-200, #EAECF0);
  background: var(--White, #FFF);

  /* Shadow/md */
  box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.10);
}

.medal {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
}

.gold {
  background-color: gold;
}

.silver {
  background-color: silver;
}

.bronze {
  background-color: #cd7f32; /* Bronze color */
}